.planetSection {
    display: flex;
    text-align: left;
    position: relative;
    height: 200px;
    background-color: rgb(61, 60, 60);
    align-items: center;
    padding: 0 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.planetPicture {
    width: 150px;
    height: 150px;
    border: solid 2px grey;
    border-radius: 10px;
    margin-right: 15px;
}
.title {
    font-weight: 700;
    font-size: 18px;
    
}